* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  position: relative; /* Needed for positioning buttons */
  width: 80vw; /* Set width for responsiveness */
  max-width: 1200px; /* Max width to prevent stretching */
  overflow: hidden; /* Hide overflow from buttons */
}

.gallery {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #191919; /* For Firefox */
  width: 100%;
  height: 80vh; /* Set a height for vertical scrolling */
}

.gallery::-webkit-scrollbar {
  height: 8px; /* Width of the scrollbar */
}

.gallery::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 10px;
}

.gallery::-webkit-scrollbar-track {
  background: #191919; /* Color of the scrollbar track */
}

.gallery div {
  display: flex;
  flex: none;
  width: 100%;
}

.gallery div img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  position: absolute; /* Absolute positioning for buttons */
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

#backBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.gallery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
